<template>
  <div class="home">
    <h1>{{ title }}</h1>
    <p>{{ number }}</p>
    <h1>{{ array }}</h1>
    <p v-for="item in array">
      {{ item }}
    </p>
    <h1>{{ title }}</h1>
    <input type="text" v-model="title">

    <p v-if="number === 0">Число 0</p>
    <p v-else>Число 10</p>

    <p v-show="number === 0">Число 0</p>
    <p v-show="number === 10">Число 10</p>

    <button @click="changeNumber">
      text
    </button>
    <section>
      <big-button v-bind:text="number"/>
    </section>

    <section>
      <big-button text="btn"/>
    </section>

  </div>
</template>

<script>
import BigButton from '@/components/BigButton'

export default {
  data() {
    return {
      title: 'Я есть заголовок',
      number: 0,
      array: [1, 2, 3, 4, 5]
    }
  },
  methods: {
    changeNumber () {
      this.number = 10
    }
  },
  watch: {
  title(){
    this.changeNumber()
  }
  },
  components: {
    BigButton
  }
}
</script>
