<template>
<button class="btn" >
  {{ text }}
</button>
</template>

<script>
export default {
  name: "BigButton",
  props:['text']
}
</script>

<style scoped>
.btn {
  background:cornflowerblue;
}
</style>